/* Обнуление CSS */

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {
	outline: none;
}
a:focus, a:active {
	outline: none;
}
nav, footer, header, aside {
	display: block;
}
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}
/*================================================================*/

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
._container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
._title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.47;
}
._subtitle {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.22;
}
._btn {
	display: inline-block;
	height: 45px;
	padding: 0 45px;
	font-weight: 500;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
	background-color: #4985FF;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
._btn:hover {
	background-color: #273CF6;
}

@media (max-width: 1140px) {
	._title {
		font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1140 - 320)));
	}
}
/*================================================================*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 99px;
}
.menu-header__list {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 3;
}
.menu-header__list li {
	padding: 10px;
	margin-right: 40px;
}
.menu-header__list li:last-child {
	margin-right: 0;
}
.menu-header__link {
	display: block;
	color: #fff;
	font-weight: 500;
	line-height: 1.2;
	position: relative;
}
.menu-header__link:after {
	content: '';
	position: absolute;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #fff;
	bottom: -40px;
	transition: all 0.3s ease 0s;
}
.menu-header__link:hover:after {
	left: -10%;
	width: 120%;
}
.menu-header__link_act:after {
	content: '';
	position: absolute;
	left: -19px;
	bottom: -40px;
	width: 107px;
	height: 2px;
	background-color: #fff;
}
.header__burger {
	display: none;
}

@media (max-width: 768px){
	body.lock {
		overflow: hidden;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span {
		position: absolute;
		background-color: #4985FF;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #4985FF;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__burger.active:before {
		background-color: #000;
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		background-color: #000;
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu {
		position: fixed;
		left: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.5s ease 0s;
		background-color: #EEEFF1;
		padding: 80px 20px 20px 20px;
	}
	.header__menu.active {
		left: 0;
	}
	.menu-header__list {
		display: block;
	}
	.menu-header__list li {
		margin: 0 0 20px 0;
	}
	.menu-header__link {
		font-size: 32px;
		color: #000;
		text-align: center;
	}
	.menu-header__link_act:after {
		display: none;
	}
}
@media (max-width: 480px) {
	.header__body {
		height: 80px;
	}
}
/*================================================================*/
.top {
	background-image: url(../image/top.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.top__content {
	max-width: 830px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	padding: 318px 10px 417px 10px;
}
.top__label {
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 20px;
}
.top__title {
	font-weight: 800;
	font-size: 48px;
	line-height: 1.34;
}

@media (max-width: 1140px) {
	.top__content{
		padding-top: calc(150px + (318 - 150) * ((100vw - 320px) / (1140 - 320)));
		padding-bottom: calc(150px + (417 - 150) * ((100vw - 320px) / (1140 - 320)));
	}
	.top__title {
		font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (1140 - 320)));
	}
}
/*================================================================*/
.services {
	padding: 105px 0;
}
.services__body {
	text-align: center;
}
.services__title {
	max-width: 740px;
	margin: 0 auto 36px;
	color: #323232;
}
.services__text {
	max-width: 730px;
	margin: 0 auto 60px;
	color: #999;
	line-height: 1.56;
}
.services__row {
	display: flex;
}
.services__column {
	flex: 0 1 33.333%;
	margin-bottom: 37px;
	padding: 5px;
}
.services__item {
	display: flex;
}
.item-services__picture {
	flex: 0 0 31.429%;
	display: flex;
	justify-content: center;
}
.item-services__image {
	width: 110px;
	height: 110px;
}
.item-services__image img {
	max-width: 100%;
}
.item-services__content {
	flex: 1 1 auto;
	padding: 45px 10px 0 20px;
}
.item-services__subtitle {
	margin-bottom: 10px;
}
.item-services__text {
	color: #999;
	line-height: 1.57;
}

@media (max-width: 1140px) {
	.services {
		padding-top: calc(40px + (105 - 40) * ((100vw - 320px) / (1140 - 320)));
		padding-bottom: calc(35px + (105 - 35) * ((100vw - 320px) / (1140 - 320)));
	}
	.services__title {
		margin-bottom: calc(25px + (36 - 25) * ((100vw - 320px) / (1140 - 320)));
	}
	.services__text {
		margin-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1140 - 320)));
	}
}

@media (max-width: 993px) {
	.services__row {
		flex-wrap: wrap;
	}
	.services__column {
		flex: 0 1 100%;
		margin-bottom: 25px;
	}
	.item-services__content {
		padding-top: 10px;
		text-align: left;
	}
}
@media (max-width: 480px) {
	.services__item {
		flex-wrap: wrap;
		justify-content: center;
	}
	.item-services__content {
		text-align: center;
		padding-left: 10px;
	}
}
/*================================================================*/
.about {
	background-color: #F6F6F8;
	padding: 100px 0 53px 0;
}
.about__top {
	padding-bottom: 90px;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 70px;
}
.about__body {
	display: flex;
	justify-content: space-between;
}
.about__content {
	max-width: 510px;
	padding-right: 20px;
}
.content-about__title {
	color: #323232;
	margin-bottom: 30px;
	padding-top: 45px;
}
.content-about__text {
	color: #999999;
	margin-bottom: 30px;
	line-height: 1.56;
}
.content-about__link {
	color: #4985FF;
	text-decoration: underline;
	font-weight: 500;
}
.about__image {
	flex: 0 0 45.454%;
	display: flex;
	justify-content: center;
}
.about__image img,
.about__image sourse {
	max-width: 100%;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
}
.about__bottom {
	max-width: 920px;
	margin: 0 auto;
}
.about__row {
	display: flex;
}
.about__column {
	margin-right: 80px;
	padding: 0 5px;
}
.about__column:last-child {
	margin-right: 0px;
}
.about__item {
	display: flex;
	flex-wrap: wrap;
	max-width: 120px;
}
.item-about__icon {
	flex: 0 0 40px;
	height: 40px;
	margin-right: 15px;
	padding: 5px;
	margin-bottom: 10px;
}
.item-about__icon img {
	max-width: 100%;
}
.item-about__number {
	flex: 0 1 auto;
	font-size: 36px;
	margin-bottom: 10px;
}
.item-about_text {
	flex: 0 1 100%;
	color: #999999;
	line-height: 1.56;
	padding: 5px;
}

@media (max-width: 1140px) {
	.about {
		padding-top: calc(20px + (100 - 20) * ((100vw - 320px) / (1140 - 320)));
		padding-bottom: calc(25px + (53 - 25) * ((100vw - 320px) / (1140 - 320)));
	}
	.about__top {
		padding-bottom: calc(40px + (90 - 40) * ((100vw - 320px) / (1140 - 320)));
		margin-bottom: calc(40px + (70 - 40) * ((100vw - 320px) / (1140 - 320)));
	}
	.content-about__title {
		padding-top: calc(5px + (45 - 5) * ((100vw - 320px) / (1140 - 320)));
		margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1140 - 320)));
	}
}
@media (max-width: 993px) {
	.about__row {
		flex-wrap: wrap;
	}
	.about__column {
		flex: 0 1 33.333%;
		margin-bottom: 15px;
		margin-right: 0;
	}
	.about__item {
		margin: 0 auto;
	}
}
@media (max-width: 768px) {
	.about__body {
		flex-wrap: wrap;
		justify-content: center;
	}
	.about__content {
		max-width: 100%;
		margin-bottom: 25px;
		padding-right: 0px;
		text-align: center;
	}
	.about__image {
		flex: 0 0 70%;
}
	.about__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 480px) {
	.about__column {
		flex: 0 1 100%;
	}
}
/*================================================================*/
.works {
	padding: 100px 0 85px 0;
	background: linear-gradient(to bottom, #5f12d0 50% , #ffffff 50%);
}
.works__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 53px;
}
.works__title {
	max-width: 540px;
	color: #fff;
}
.btn-2 {
	display: none;
}
.works__row {
	display: flex;
	margin: 0 -15px;
	border-bottom: 1px solid #e0e0e0;
}
.works__column {
	flex: 0 1 33.333%;
	padding: 0 15px;
	margin-bottom: 85px;
}
.item-works__image {
	margin-bottom: 30px;
	padding-bottom: 86%;
	position: relative;
}
.item-works__image img,
.item-works__image source{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 10px;
	overflow: hidden;
}
.item-works__subtitle {
	margin-bottom: 30px;
}
.item-works__subtitle span {
	color: #4985ff;
}
.item-works__text {
	margin-bottom: 30px;
	color: #999;
	line-height: 1.56;
}
.item-works__link {
	display: inline-block;
	color: #4985ff;
	text-decoration: underline;
	font-weight: 500;
}

@media (max-width: 1140px) {
	.works {
		padding-top: calc(30px + (100 - 30) * ((100vw - 320px) / (1140 - 320)));
		padding-bottom: calc(30px + (85 - 30) * ((100vw - 320px) / (1140 - 320)));
	}
	.works__top {
		margin-bottom: calc(30px + (53 - 30) * ((100vw - 320px) / (1140 - 320)));
	}
	.works__column {
		margin-bottom: calc(30px + (85 - 30) * ((100vw - 320px) / (1140 - 320)));
	}
}
@media (max-width: 768px) {
	.works {
		background: linear-gradient(to bottom, #ffffff 50% , #ffffff 50%);
	}
	.works__container {
		text-align: center;
	}
	.works__top {
		flex-wrap: wrap;
		justify-content: center;
	}
	.works__title {
		flex: 0 1 100%;
		color: #323232;
		margin-bottom: 20px;
	}
	.btn-1 {
		display: none;
	}
	.btn-2 {
		display: inline-block;
	}
	.works__row {
		flex-wrap: wrap;
		margin-bottom: 15px;
	}
	.works__column {
		flex: 0 1 100%;
	}
	.item-works__image {
		max-width: 47.5%;
		padding-bottom: 42.5%;
		margin: 0 auto 30px;
	}
	.item-works__content {
		text-align: center;
	}
}
@media (max-width: 480px) {
	.item-works__image {
		max-width: 64.5%;
		padding-bottom: 55.5%;
	}
}
/*================================================================*/
.projects {
	background-color: #f6f6f8;
	padding: 92px 0 130px 0;
}
.projects__body {
	text-align: center;
}
.projects__content {
	max-width: 730px;
	margin: 0 auto;
}
.projects__title {
	margin-bottom: 50px;
}
.projects__text {
	color: #999;
	line-height: 1.56;
	margin-bottom: 50px;
}
.projects__items {
	display: flex;
	margin: 0 -15px;
}
.projects__item {
	flex: 0 1 25%;
	padding: 0 15px;
}
.projects__image {
	margin-bottom: 50px;
	position: relative;
	padding-bottom: 100%;
}
.projects__image img,
.projects__image source {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 10px;
	overflow: hidden;
}

@media (max-width: 1140px) {
	.projects {
		padding-top: calc(30px + (92 - 30) * ((100vw - 320px) / (1140 - 320)));
		padding-bottom: calc(30px + (130 - 30) * ((100vw - 320px) / (1140 - 320)));
	}
	.projects__title {
		margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1140 - 320)));
	}
	.projects__text {
		margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1140 - 320)));
	}
	.projects__image {
		margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1140 - 320)));
	}
}
@media (max-width: 768px) {
	.projects__items {
		flex-wrap: wrap;
	}
	.projects__item {
		flex: 0 1 50%;
		display: flex;
		justify-content: center;
	}
	.projects__image {
		width: 225px;
		padding-bottom: 63.5%;
	}
}
@media (max-width: 540px) {
	.projects__item {
		flex: 0 1 100%;
	}
	.projects__image {
		padding-bottom: 44%;
	}
}
@media (max-width: 480px) {
	.projects__image {
		padding-bottom: 50%;
	}
}
@media (max-width: 320px) {
	.projects__image {
		width: 180px;
		padding-bottom: 62%;
	}
}
/*================================================================*/
.video {
	padding: 65px 0 40px 0;
	background-image: url(../image/video.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
}
.video__container {
	border-bottom: 1px solid #e0e0e0;
}
.video__body {
	max-width: 730px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.video__title {
	margin-bottom: 16px;
}
.video__text {
	line-height: 1.57;
	margin-bottom: 62px;
}
.video__video {
	max-width: 970px;
	margin: 0 auto 85px;
	padding: 0 0 38.74% 0;
	position: relative;
}
.video__video video {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.video__clip {
	border-radius: 15px;
	overflow: hidden;
}
.video__playpause {
	height: 100px;
	padding: 0 40px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	border-radius: 200px;
	border: 1px solid #fff;
}
.video__playpause span {
	color: #fff;
	font-weight: 500;
}
.video__playpause img {
	max-width: 100%;
	padding-right: 21px;
}

@media (max-width: 1140px) {
	.video {
		padding-top: calc(30px + (65 - 30) * ((100vw - 320px) / (1140 - 320)));
		padding-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1140 - 320)));
	}
	.video__text {
		margin-bottom: calc(20px + (62 - 20) * ((100vw - 320px) / (1140 - 320)));
	}
	.video__video {
		margin-bottom: calc(20px + (85 - 20) * ((100vw - 320px) / (1140 - 320)));
	}
}
@media (max-width: 650px) {
	.video__playpause {
		border: 0;
	}
	.video__playpause span {
		display: none;
	}
	.video__playpause img {
		padding-right: 0;
	}
}
@media (max-width: 414px) {
	.video {
		background-image: none;
	}
	.video__body {
		color: #323232;
	}
}
/*================================================================*/
.subcribe {
	padding: 44px 0 85px 0;
}
.subcribe__body {
	max-width: 730px;
	margin: 0 auto;
	text-align: center;
}
.subcribe__title {
	margin-bottom: 13px;
}
.subcribe__text {
	margin-bottom: 23px;
	color: #999;
	line-height: 1.57;
}
.subcribe__form {
	display: flex;
	max-width: 490px;
	height: 45px;
	margin: 0 auto 35px;
	border: 1px solid #f2f2f2;
	box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	overflow: hidden;
}
.subcribe__input {
	flex: 1 1 auto;
	color: #999;
	padding: 0 33px;
	font-size: 13px;
}
.subcribe_button {
	flex: 0 0 39%;
	border-radius: 0 30px 30px 0;
	padding: 0 20px;
	line-height: 44px;
}
.subcribe__bottom {
	color: #999;
	font-size: 13px;
	line-height: 1.6;
}

@media (max-width: 1140px) {
	.subcribe {
		padding-top: calc(20px + (44 - 20) * ((100vw - 320px) / (1140 - 320)));
		padding-bottom: calc(20px + (85 - 20) * ((100vw - 320px) / (1140 - 320)));
	}
}
@media (max-width: 480px) {
	.subcribe_button {
		flex: 0 0 33%;
		font-size: 12px;
		padding: 0 5px;
	}
	.subcribe__input {
		padding: 0 10px 0 15px;
	}
}
/*================================================================*/
.footer {
	background-color: #f6f6f8;
}
._link {
	color: #999;
	font-size: 14px;
	line-height: 1.57;
}
.footer__top {
	display: flex;
	padding: 66px 0 39px 0;
	border-bottom: 1px solid #e0e0e0;
}
.footer__contacts {
	flex: 0 1 242px;
	margin-right: 43px;
}
.contacts-footer__title {
	margin-bottom: 27px;
}
.contacts-footer__list li {
	margin-bottom: 24px;
	transition: all 0.3s ease 0s;
}
.contacts-footer__link {
	font-style: normal;
}
.contacts-footer__link:hover {
	color: #273CF6;
}
._icon-mail:before {
	padding-right: 12px;
}
._icon-mail:hover:before {
	color: #273CF6;
}
._icon-call:before {
	padding-right: 12px;
}
._icon-call:hover:before {
	color: #273CF6;
}
._icon-map:before {
	padding-right: 12px;
}
._icon-map:hover:before {
	color: #273CF6;
}
._icon-arrow:before {
	padding-right: 12px;
}
._icon-arrow:hover:before {
	color: #273CF6;
}
.footer__row {
	flex: 1 1 auto;
	display: flex;
}
.footer__column {
	flex: 0 0 242px;
	margin-right: 43px;
}
.footer__column:last-child {
	margin-right: 0;
}
.footer__item {
}
.item-footer__title {
	margin-bottom: 27px;
}
.item-footer__list li {
	margin-bottom: 24px;
	transition: all 0.3s ease 0s;
}
.item-footer__link:hover {
	color: #273CF6;
}
.footer__bottom {
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__copy {
	font-size: 13px;
	color: #999;
}

@media (max-width: 1140px) {
	.footer__top {
		padding-top: calc(20px + (66 - 20) * ((100vw - 320px) / (1140 - 320)));
		padding-bottom: calc(20px + (39 - 20) * ((100vw - 320px) / (1140 - 320)));
	}
	.footer__column {
		margin-right: calc(20px + (43 - 20) * ((100vw - 1100px) / (1140 - 1100)));
	}
}
@media (max-width: 1100px) {
	.footer__top {
		flex-wrap: wrap;
	}
	.footer__contacts {
		flex: 0 1 100%;
		margin-right: 0;
		padding-left: 50px;
	}
	.footer__row {
		justify-content: space-around;
	}
}
@media (max-width: 993px) {
	.footer__contacts {
		padding-left: calc(20px + (50 - 20) * ((100vw - 320px) / (993 - 320)));
	}
	.footer__row {
		flex-direction: column;
		padding-left: calc(20px + (50 - 20) * ((100vw - 320px) / (993 - 320)));
	}
	.item-footer__title {
		position: relative;
		cursor: pointer;
		margin-bottom: 23px;
		padding-left: 30px;
	}
	.item-footer__list {
		display: none;
	}
	.footer__column {
		flex: 0 1 auto;
	}
	.item-footer__title:before,
	.item-footer__title:after {
		content: '';
		width: 12px;
		height: 2px;
		background-color: #000;
		position: absolute;
		top: 10px;
		transition: all 0.3s ease 0s;
	}
	.item-footer__title:before {
		transform: rotate(45deg);
		left: 0;
	}
	.item-footer__title:after {
		transform: rotate(-45deg);
		left: 8px;
	}
	.item-footer__title.active:before,
	.item-footer__title.active:after {
		background-color: blue;
	}
	.item-footer__title.active:before {
		transform: rotate(-45deg);
	}
	.item-footer__title.active:after {
		transform: rotate(45deg);
	}
}
